*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: rgba(226, 201, 255, 0.438);
}
.main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
}
.main h1{
    text-transform: uppercase;
}
.cards{
    display: flex;
    gap: 20px;
}
.cards > .card{
    background-color: #fef6ff;
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
}

.cards .card:hover{
    background-color: #111;
    color: white;
    border: 2px solid cyan;
    transition: .5s all ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
}
.cards .card:hover > button{
    background-color: #fff;
    color: #000;
}

.cards .card > .fa-brands{
    font-size: 40px;
}

.cards .card > h2{
    font-size: 25px;
    text-transform: uppercase;
}
.cards .card > p{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    word-spacing: 2px;
}

.cards .card > button{
    background-color: #000;
    color: white;
    width: 100%;
    padding: 8px 0px;
    outline: none;
    border: none;
    border-radius: 20px;
}